header{
				position: absolute;
				z-index: 1;
				width: 100%;
			}
			.nav-padding{
				padding-top: 1.5rem !important;
				padding-bottom: 1.5rem !important;
			}
			.navbar-title{
				color: #fff !important;
				font-weight: 700;
			}
			.nav-list-item-custom:hover, .nav-list-item-custom:focus, .nav-list-item-custom.active{
				color: #fff;
				border-bottom: 2px solid #fff;
			}
			.nav-list-item-custom .nav-link{
				color: #fff !important;
			}
			.banner{
				background:url(./water-background-minified.jpg) no-repeat 0px 0px;
				background-size:cover;
				-webkit-background-size:cover;
				-moz-background-size:cover;
				-o-background-size:cover;
				-ms-background-size:cover;
				min-height: 765px;
				position: relative;
			}
			.banner-inside{
				background: rgba(0, 0, 0, 0.5);
				min-height: 765px;
			}
			.block_elements{
				padding: 12em 0em 0em;
				padding-left: 35px;
				padding-right: 35px;
			}
			.block_elem{
				color: white;
				width: 50% !important;
			}
			.read_more{
				padding: 11px 35px;
				background: none;
				color: #fff;
				border: 2px solid #fff;
				font-weight: 600;
				font-size: 15px;
				letter-spacing: 1px;
				display: inline-block;
				margin-top: 1.5em;
				border-radius: 35px;
			}
			.read_more:hover{
				background: #fff;
				border: 2px solid #fff;
				color: #333;
				text-decoration: none;
			}
			.section_padding{
				padding: 20px;
			}
			.heading{
				font-size: 45px;
				text-align: center;
				color: #333;
				font-weight: 600;
				letter-spacing: 5px;
				position: relative;
			}
			h3.heading:after {
				position: absolute;
				content: '';
				width: 10%;
				height: 3px;
				background: #333;
				left: 45%;
				bottom: -18%;
			}
			.alignment{
				justify-content: space-evenly;
			}
			.margin_top{
				margin-top: 5rem;
			}
			.custom-h4{
				font-size: 22px;
				line-height: 30px;
				text-transform: capitalize;
				font-weight: 600;
				color: #333;
			}
			.custom-p{
				color: #666;
				margin: 1.5em 0;
				line-height: 28px;
				letter-spacing: .5px;
				font-size: 14px;
			}
			.download_anchor{
				padding: 11px 35px;
				color: #fff;
				background: #333;
				border: 2px solid #333;
				font-weight: 600;
				font-size: 15px;
				letter-spacing: 1px;
				display: inline-block;
				border-radius: 35px;
			}
			.progress{
				height: 10px;
				margin-bottom: 2.2em;
				background-color: #dadde0;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
			}
			.progress-bar{
				background-color: #191919;
				background-image: none;
			}